<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Survey</title>
  </head>
  <body>
    <h1>Survey</h1>
    <form action="/submit" method="post">
      {% for row in data %}
      <h2>{{ row[1] }}</h2>
      <input type="radio" name="rating{{ row[0] }}" value="1">○
      <input type="radio" name="rating{{ row[0] }}" value="2">?
      <input type="radio" name="rating{{ row[0] }}" value="3" checked>×
      {% endfor %}
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
